[Unit]
Description=Puma HTTP Server
After=network.target

[Service]
Type=simple

# Specify the path to your puma application root
WorkingDirectory=/home/decidim/decidim-buehl-intra

# Preferably configure a non-privileged user
User=decidim
Group=decidim

Environment=RAILS_ENV=production

# The command to start Puma, use 'which puma' to get puma's bin path, specify your config/puma.rb file
ExecStart=/bin/bash -lc '/home/decidim/.rbenv/shims/bundle exec puma -e production -C config/puma.rb'
ExecReload=/bin/kill -s USR1 $MAINPID
ExecStop=/bin/kill -s QUIT $MAINPID

Restart=always

# This will default to "bundler" if we don't specify it
SyslogIdentifier=puma

[Install]
WantedBy=multi-user.target
